# Project 1 (CLI) Testing file
# Author: Scott Yeskie
# demonstrates
#	-case insensitive command
#	-case sensitive parameters
#	-default values for some commands
#	-auto syntax prompt on improper usage
#	-help example (cmd help)

draw 1, 2, 3
draw 1
color help

#whitespace
	color 2,   25, 23
	COLOR 15,  	15, 15
  CoLoR 20, 20, 	20
	 color 99 #Color requires 3 params
  move 23, 0#, 255

read test2.icf -v #let's just force it verbose
draw 999, 999, 999 #should not execute
